{% extends "base.html" %}

{% block canonical %}<link rel="canonical" href="{{ SITEURL }}/{{ ALLARTICLES_URL }}"/>{% endblock %}
{% block robots %}<meta name="robots" content="nosnippet">{% endblock %}

{% block title %}{{ DISPLAY_SIDEBAR_ALLARTICLES_NAME|default("All articles") }} - {{ SITENAME }}  {% endblock %}

{% block content_title %}
<div class="content-title">
    <h1>{{ DISPLAY_SIDEBAR_ALLARTICLES_NAME|default("All articles") }}</h1>
</div>
{% endblock %}

{% block content %}
<div class="article">
    <table class="table">
        <tbody>
        {% for article in dates %}
            <tr>
            <td class="span3">{{ article.date.strftime("%Y-%m-%d") }}</td>
            <td class="span9"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
