{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Archives{% endblock %}

{% block content_title %}
<div class="content-title">
    <h1>Archives</h1>
</div>
{% endblock %}

{% block content %}
<div class="article">
    <ul>
        {% for article in dates %}
            {% set cur_year = article.date|strftime("%Y") %}
            {% if loop.first %}
                <li><a href="{{ SITEURL }}/archives/{{ cur_year }}/">{{ cur_year }}</a></li>
            {% else %}
                {% set prev_year = dates[loop.index0 - 1].date|strftime("%Y") %}
                {% if cur_year != prev_year %}
                <li><a href="{{ SITEURL }}/archives/{{ cur_year }}/">{{ cur_year }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}
