{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Archives{% endblock %}

{% block content_title %}
<div class="content-title">
    <h1>Archives</h1>
</div>
{% endblock %}

{% block content %}
<div class="article">
    <table class="table">
        <tbody>

{% set months -%}
{% for n in range (0, 10) -%}{{ n }}{%- endfor %}
{%- endset %}

        {% for article in dates %}
            {% set cur_year = article.date|strftime("%Y") %}
            {% if loop.first %}
                <tr>
                    <td class="span3"><a href="{{ SITEURL }}/archives/{{ cur_year }}/">{{ cur_year }}</a></td>
                    <td class="span9"></td>
                </tr>
            {% else %}
                {% set prev_year = dates[loop.index0 - 1].date|strftime("%Y") %}
                {% if cur_year != prev_year %}
                    <tr>
                        <td class="span3"><a href="{{ SITEURL }}/archives/{{ cur_year }}/">{{ cur_year }}</a></td>
                        <td class="span9">{{ months|list }}</td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}

