{% extends "base.html" %}

{% block canonical %}<link rel="canonical" href="{{ SITEURL }}/{{ article.url }}" />{% endblock %}
{% block robots %}<meta name="robots" content="{{ article.robots if article.robots else 'all' }}" />{% endblock %}
{% block description %}<meta name="description" content="{{ article.summary|striptags if article.summary else article.title }}" />{% endblock %}

{% block title %}{{ article.title }} :: {{ SITENAME }}{% endblock %}

{% block content %}
    <div class="article">
        <div class="content-title">
            <h1>{{ article.title }}</h1>
            <div class="well small">{% include "metadata.html" %}</div>
            <p><h3 style="text-decoration-line: none">{{ article.summary|striptags }}</h3></p>
        </div>
        <div class="content">{{ article.content }}</div>
    </div>

    <div class="article" style="text-align: center; font-size: 1.1em; font-style: italic">
        Found a <span style="color: red; font-weight: bold">bug</span> or <span style="color: red; font-weight: bold">typo</span>? Please, send me <a href="/pages/feedback/">feedback</a> or submit a <a href="{{ TYPO_GH_URL|default("") }}/{{ article.slug|striptags }}.rst">PR on Github</a>.
    </div>
{% endblock %}

{% block disclaimer_long %}
    {% if ADD_DISCLAIMER_LONG|default("false") %}
    <div class="article">
        <div class="well small"><h5>{{ DISCLAIMER_LONG|default("") }}</h5></div>
    </div>
    {% endif %}
{% endblock %}

{% block copyright_notice %}
    <span class="pull-left">
        &copy; {{ article.date.strftime('%Y') }} <a href="{{ CONTACT_URL|default("#") }}">{{ AUTHOR }}</a> All Rights Reserved
    </span>
{% endblock %}
