{% extends "base.html" %}

{% block canonical %}<link rel="canonical" href="{{ SITEURL }}/{{ AUTHORS_URL }}"/>{% endblock %}
{% block title %}{{ SITENAME }} :: Authors{% endblock %}

{% block content_title %}
<div class="content-title">
    <h1>Authors</h1>
</div>
{% endblock %}

{% block content %}
<div class="article">
    <table class="table">
        <tbody>
        {% for author, articles in authors %}
                <tr>
                    <td class="span3"><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a></td>
                    <td class="span9">{{ articles|count }} {{ 'article' if articles|count == 1 else 'articles' }}</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
