<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta name="description" content="{{ SITEDESC }}">
    <meta name="author" content="{{ AUTHOR }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if lt IE 9]>
    <script src="{{ SITEURL }}/theme/html5.js"></script>
    <![endif]-->

    <link href="{{ SITEURL }}/theme/bootstrap-pygments.bundle.min.css" rel="stylesheet">
    {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" rel="alternate" title="{{ SITENAME }}" type="application/atom+xml">
    {% endif %}
</head>

<body>

{% if DISPLAY_MENU %}
<div class="navbar">
    <div class="navbar-inner">
    <div class="container">
        {% include "topmenu.html" %}
    </div>
    </div>
</div>
{% endif %}

<div class="container">
    <div class="content">
    <div class="row">
        <div{% if DISPLAY_SIDEBAR %} class="span9"{% else %} class="span12"{% endif %}>
            {% block content_title %}{% endblock %}
            {% block content %}{% endblock %}
        </div>

        {% if DISPLAY_SIDEBAR %}                
            <div class="span3">
                {% include "sidebar.html" %}
            </div>
        {% endif %}
    </div>
    </div>

    <footer>
        <br />
        {% if articles %}
           {% set copy_date1 = articles[0].date.strftime('%Y') %}
           {% set copy_dateN = articles[-1].date.strftime('%Y') %}
           {% if copy_dateN == copy_date1 %}
                {% set copy_date = copy_date1 %}
           {% else %}
                {% set copy_date = copy_dateN + '-' + copy_date1 %}
           {% endif %}
        {% else %}
           {% set copy_date = '' %}
        {% endif %}

        <p>
            <span class="pull-left">
            {{ SITENAME }} &copy; {{ copy_date }} <a href="{{ SITEURL }}/pages/{{ CONTACT_PAGE }}">{{ AUTHOR }}</a>
            </span>
            <span class="pull-right">
                Powered by <a href="https://github.com/getpelican/pelican">Pelican</a> and <a href="https://github.com/vorakl/pelican-theme-tuxlite_simple">tuxlite_simple</a> theme
            </span>
        </p>
    </footer>
</div>

<script src="{{ SITEURL }}/theme/jquery-bootstrap-collapse.bundle.min.js"></script>
{% include "analytics.html" %}
</body>
</html>
