{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Categories{% endblock %}

{% block content_title %}
<div class="content-title">                                                                                                             
    <h1>Categories</h1>
</div>
{% endblock %}

{% block content %}
<div class="article">
    <ul>
        {% for category, articles in categories|sort %}
            <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }} ({{ articles|count }})</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
