{% extends "base.html" %}

{% block canonical %}<link rel="canonical" href="{{ SITEURL }}/{{ ALLARTICLES_URL }}"/>{% endblock %}
{% block robots %}<meta name="robots" content="nosnippet">{% endblock %}
{% block description %}<meta name="description" content="{{ SITEDESC }}" />{% endblock %}

{% block content_title %}
<div class="content-title">
    <h1>{{ SITETITLE|default("This is a default site's title") }}</h1>
    {% if ADD_DISCLAIMER_SHORT|default("false") %}
    <div class="well small"><h5>{{ DISCLAIMER_SHORT|default("") }}</h5></div>
    {% endif %}
</div>
{% endblock %}

{% block content %}        
{% if articles %}
<table class="table">
    <tbody>
    {% for article in articles_page.object_list %}
    {# First item #}
    {% if loop.first and not articles_page.has_previous() %}
        <tr>
            <td class="span3">{{ article.date.strftime("%Y-%m-%d") }}</td>
            <td class="span9"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></td>
        </tr>

        {% if loop.length == 1 %}
            </tbody></table>
            {% include 'pagination.html' %}
        {% endif %}
    {# other items #}
    {% else %}
        <tr>
            <td class="span3">{{ article.date.strftime("%Y-%m-%d") }}</td>
            <td class="span9"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></td>
        </tr>

        {% if loop.last and (articles_page.has_previous() or not articles_page.has_previous() and loop.length > 1) %}
            </tbody></table>
            {% include 'pagination.html' %}
        {% endif %}
    {% endif %} {# First item if #}
    {% endfor %} {# For article #}
{% endif %} {# If articles #}

{% endblock content %}

