{% extends "base.html" %}

{% block canonical %}<link rel="canonical" href="{{ SITEURL }}/{{ page.url }}" />{% endblock %}
{% block robots %}<meta name="robots" content="{{ page.robots if page.robots else 'all' }}" />{% endblock %}
{% block description %}<meta name="description" content="{{ page.summary|striptags if page.summary else page.title }}" />{% endblock %}

{% block title %}{{ page.title }} :: {{ SITENAME }}{% endblock %}

{% block content %}
<div class="article">
    <div class="content-title">
        <h1>{{ page.title }}</h1>
        <h3>{{ page.summary|striptags }}</h3>
        {% if page.translations %}
            <a href="{{ SITEURL }}/{{ page.url }}" class="btn btn-info xsmall">{{ page.lang or DEFAULT_LANG }}</a>
            {% for translation in page.translations %}
                <a href="{{ SITEURL }}/{{ translation.url }}" class="btn btn-info xsmall">{{ translation.lang }}</a>&nbsp;
            {% endfor %}
        {% endif %}
    </div>

    <div>{{ page.content }}</div>
</div>
{% endblock %}

{% block content_sharing %}
    <div class="article">
        <p>Share on <a href="https://twitter.com/intent/tweet?text={{ page.title|urlencode }}:%20{{ page.summary|striptags|urlencode }}&url={{ SITEURL }}/{{ page.url }}">Twitter</a></p>
    </div>
{% endblock %}

{% block copyright_notice %}
    <span class="pull-left">
        &copy; {{ page.date.strftime('%Y') }} <a href="{{ CONTACT_URL|default("#") }}">{{ AUTHOR }}</a> All Rights Reserved
    </span>
{% endblock %}
