{% extends "base.html" %}

{% block canonical %}<link rel="canonical" href="{{ SITEURL }}/{{ PAGES_URL }}"/>{% endblock %}
{% block title %}{{ SITENAME }} :: {{ DISPLAY_SIDEBAR_PAGES_NAME|default("Pages") }}{% endblock %}

{% block content_title %}
<div class="content-title">
    <h1>{{ DISPLAY_SIDEBAR_PAGES_NAME|default("Pages") }}</h1>
</div>
{% endblock %}

{% block content %}
<div class="article">
    <table class="table">
        <tbody>
            {% for page in pages %}
                <tr>
                    <td class="span3"><a href="{{ SITEURL }}/{{ page.url }}">{{ page.slug }}</a></td>
                    <td class="span9">{{ page.summary|striptags }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
