{% extends "base.html" %}

{% block canonical %}<link rel="canonical" href="{{ SITEURL }}/{{ ARCHIVES_URL }}"/>{% endblock %}
{% block robots %}<meta name="robots" content="noindex,nofollow">{% endblock %}
{% block title %}{{ SITENAME }} :: {{ period | reverse | join(' ') }}{% endblock %}

{% block content_title %}
<div class="content-title">
    <h1>{{ period | reverse | join(' ') }}</h1>
</div>
{% endblock %}

{% block content %}
<div class="article">
    <table class="table">
        <tbody>
        {% for article in dates %}
            <tr>
            <td class="span3">{{ article.date.strftime("%Y-%m-%d") }}</td>
            <td class="span9"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
