{% extends "base.html" %}

{% block canonical %}<link rel="canonical" href="{{ SITEURL }}/{{ TAGS_URL }}"/>{% endblock %}
{% block robots %}<meta name="robots" content="noindex, nosnippet">{% endblock %}

{% block title %}{{ DISPLAY_SIDEBAR_TAGS_NAME|default("Tags") }} - {{ SITENAME }}{% endblock %}

{% block content_title %}
<div class="content-title">
    <h1>{{ DISPLAY_SIDEBAR_TAGS_NAME|default("Tags") }}</h1>
</div>
{% endblock %}

{% block content %}
<div class="article">
    <table class="table">
        <tbody>
        {% for tag, articles in tags %}
                <tr>
                    <td class="span3"><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></td>
                    <td class="span9">{{ TAGS_DESCRIPTION[tag] if tag in TAGS_DESCRIPTION|list else '' }}</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
