{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block content_title %}
<div class="content-title">                                                                                                             
    <h1>Tags</h1>
</div>
{% endblock %}

{% block content %}
<div class="article">
    <ul>
        {% for tag, articles in tags|sort %}
            <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }} ({{ articles|count }})</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
